{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Daksha | Dashboard</title>
        <link href="{% static 'daksha/dash.css' %}" rel="stylesheet" />
        <script src="{% static 'daksha/chart.umd.js' %}"></script>
        <script src="{% static 'daksha/chartjs-plugin-annotation.min.js' %}"></script>
        <link rel="icon" type="image/png" href="{%static 'daksha/assets/main_logo_small.png'%}"/>
        <style>
            .mobile-menu {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8);
                display: none;
                z-index: 9999;
            }

            .mobile-menu.active {
                display: block;
            }

            .mobile-menu .mobile-menu-content {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 60%;
                background-color: white;
                padding: 20px;
            }

            .mobile-menu a {
                display: block;
                padding: 10px;
                color: #000;
                text-decoration: none;
            }

            .mobile-menu a:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
            
        </style>
    </head>

    <body class="flex bg-gray-100 min-h-screen">
        <div class="flex-grow text-gray-800">
            <header class="flex items-center h-20 px-6 sm:px-10 bg-gray-900 fixed top-0 left-0 w-full z-50">
                
                <div class="relative w-full max-w-md sm:-ml-2">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <img class="h-8 w-auto" src="{% static 'daksha/assets/main_logo.png' %}" alt="Your Company" />
                        </div>
                        <div class="hidden md:block">
                            <div class="ml-10 flex items-baseline space-x-4 gap-4">
                                <a href="/Dashboard" class="bg-indigo-600 text-white rounded-md px-3 py-2 text-base font-medium">Dashboard</a>
                                <a href="/Projects" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base font-medium">Projects</a>
                                <a href="/Hackathons" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base font-medium">Hackathons</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-shrink-0 items-center ml-auto justify-center">
                    <button class="hidden sm:inline-flex items-center p-2 rounded-lg">
                        <span class="sr-only">User Menu</span>
                        <div class="flex flex-col items-end leading-tight">
                            <span class="font-semibold text-gray-200">{{username}}</span>
                            <span class="text-sm text-gray-200">{{email}}</span>
                        </div>
                        <span class="h-8 w-8 ml-2 sm:ml-3 mr-2 bg-gray-900 rounded-full overflow-hidden">
                            <img src="{% static 'daksha/assets/profile.png' %}" alt="user profile photo" class="h-full w-full object-cover" />
                        </span>
                    </button>

                    <button class="relative p-2 text-gray-400 focus:bg-gray-100 focus:text-gray-600 rounded-full">
                        <span class="sr-only">Open user menu</span>
                        <img class="h-6 inline-block w-6 rounded-full" src="{% static 'daksha/assets/thunder.png' %}" alt="" />
                        <span class="text-sm" id="creditsStatus">{{credits}}: <span class="ml-1"></span></span>

<script>
    var credits = "{{ credits}}";
    var x = 600; // Replace 'x' with the desired threshold value

    var creditsStatus = document.getElementById('creditsStatus');

    if (credits > 0 && credits<=300) {
        creditsStatus.innerHTML += '<span style="color: rgb(144, 201, 87);">Newbie</span>';
    } else {
        // creditsStatus.innerHTML += 'Master';
        if(credits>300 && credits<=600){
            creditsStatus.innerHTML += '<span style="color: rgba(0, 0, 255);">Pupil</span>';
        }
        else{
            if(credits>600 && credits<=900){
                creditsStatus.innerHTML += '<span style="color: rgb(144, 201, 87);">Specialist</span>';

            }
            else{
                if(credits>900 && credits<=1200){
                    creditsStatus.innerHTML += '<span style="color: rgb(144, 201, 87);">Master</span>';

                }
                else{
                    creditsStatus.innerHTML += '<span style="color: rgb(144, 201, 87);">Grandmaster</span>';

                }
            }
        }
    }
</script>
                    </button>
                    <a href="{% url 'logout' %}">
                        <button class="relative p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-600 focus:bg-gray-100 focus:text-gray-600 rounded-full">
                            <span class="sr-only">Log out</span>
                            <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                            </svg>
                        </button>
                    </a>
                </div>
                <div class="-mr-2 flex md:hidden">
                    <!-- Mobile menu button -->
                    <button
                        type="button"
                        class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 mobile-menu-button"
                    >
                        <span class="sr-only">Open main menu</span>
                        <!-- Heroicon name: menu -->
                        <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                        <!-- Heroicon name: x -->
                        <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>

                <!-- Mobile menu -->
                <div class="hidden mobile-menu">
                    <div class="mobile-menu-content">
                        <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
                            <button class="inline-flex items-center p-2 rounded-lg">
                                <span class="sr-only">User Menu</span>

                                <span class="h-12 w-12 ml-2 sm:ml-3 mr-2 bg-indigo-600 rounded-full overflow-hidden">
                                    <img src="{% static 'daksha/assets/profile.png' %}" alt="user profile photo" class="h-full w-full object-cover" />
                                </span>
                                <div class="flex flex-col leading-tight">
                                    <span class="font-semibold text-gray-900">{{username}}</span>
                                    <span class="text-sm text-gray-900">{{email}}</span>
                                </div>
                            </button>
                            <a href="/Dashboard" class="bg-indigo-600 text-white block px-3 py-2 rounded-md text-base font-medium">Dashboard</a>
                            <a href="/Projects" class="text-gray-500 hover:bg-gray-700 hover:text-gray-900 block px-3 py-2 rounded-md text-base font-medium">Projects</a>
                            <a href="/Hackathons" class="text-gray-500 hover:bg-gray-700 hover:text-gray-900 block px-3 py-2 rounded-md text-base font-medium">Hackathons</a>
                            <button class="close-button relative p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-600 focus:bg-gray-100 focus:text-gray-600 rounded-full">
                                <span class="sr-only">Close menu</span>
                                <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </header>
            
            <main class="mt-20 p-6 sm:p-10 space-y-6">
                <div class="flex flex-col space-y-6 md:space-y-0 md:flex-row justify-between">
                    <div class="mr-6">
                        <h1 class="text-4xl font-semibold mb-2">Dashboard</h1>
                        <h2 class="text-gray-600 ml-0.5">Track your progres and learn from mistakes</h2>
                    </div>
                </div>
                <section class="grid md:grid-cols-2 xl:grid-cols-4 gap-6">
                    <div class="flex items-center p-8 bg-white shadow rounded-lg">
                        <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-yellow-600 bg-yellow-100 rounded-full mr-6">
                            <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                                <path fill="#fff" d="M12 14l9-5-9-5-9 5 9 5z" />
                                <path fill="#fff" d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
                                />
                            </svg>
                        </div>
                        <div>
                            <span class="block text-2xl font-bold">{{credits}}</span>
                            <span class="block text-gray-500">Total credits</span>
                        </div>
                    </div>
                    <div class="flex items-center p-8 bg-white shadow rounded-lg">
                        <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-green-600 bg-green-100 rounded-full mr-6">
                            <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
                            </svg>
                        </div>
                        <div>
                            <span class="block text-2xl font-bold">+{{last_increment}}</span>
                            <span class="block text-gray-500">Latest increment</span>
                        </div>
                    </div>
                    <div class="flex items-center p-8 bg-white shadow rounded-lg">
                        <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-red-600 bg-red-100 rounded-full mr-6">
                          <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 24 24">
  <circle cx="12" cy="12" r="11" fill="#000000" stroke="#000000" stroke-width="2" />
  <circle cx="12" cy="12" r="9" fill="#36a2eb" />
  <circle cx="12" cy="12" r="7" fill="#ff6384" />
  <circle cx="12" cy="12" r="3" fill="#ffce58" />
</svg>

                        </div>
                        <div>
                            <span class="inline-block text-2xl font-bold">{{latest_accuracy}}%</span>
                            <span class="inline-block text-xl text-gray-500 font-semibold"></span>
                            <span class="block text-gray-500">Latest Accuracy</span>
                        </div>
                    </div>
                    <div class="flex items-center p-8 bg-white shadow rounded-lg">
                        <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-blue-600 bg-blue-100 rounded-full mr-6">
                            <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"
                                />
                            </svg>
                        </div>
                        <div>
                            <span class="block text-2xl font-bold">{{accuracy}}%</span>
                            <span class="block text-gray-500">Overall Accuracy</span>
                        </div>
                    </div>
                </section>
                <section class="grid md:grid-cols-2 xl:grid-cols-4 xl:grid-rows-3 xl:grid-flow-col gap-6">
                    <div class="flex-col md:col-span-2 md:row-span-2 bg-white shadow rounded-lg">
                        <div class="px-6 py-5 font-semibold border-b border-gray-100">Credit overview (end of the month)</div>
                        <div class="">
                            <div class="flex justify-center h-full">
                                <div class="w-full">
                                    <div class="justify-between h-full">
                                        <div class="mt-0 min-h-full">
                                            <div class="relative lg:w-full h-[300px] w-[580px]">
                                                <canvas id="myChart"  role="img" aria-label="line graph to show selling overview in terms of months and numbers"></canvas>    

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex items-center p-8 bg-white shadow rounded-lg">
                        <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-purple-600 bg-purple-100 rounded-full mr-6">
                            <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
                                />
                            </svg>
                        </div>
                        <div>
                            <span class="block text-2xl font-bold">{{rank}}/{{total_users}}</span>
                            <span class="block text-gray-500">Rank</span>
                        </div>
                    </div>
                    <div class="flex items-center p-8 bg-white shadow rounded-lg">
                        <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-teal-600 bg-teal-100 rounded-full mr-6">
                            <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </div>
                        <div>
                            <span class="block text-2xl font-bold">{{total_duration}} hrs </span>
                            <span class="block text-gray-500">Duration completed</span>
                        </div>
                    </div>
                    <div class="row-span-3 bg-white shadow rounded-lg">
                        <div class="flex items-center justify-between px-6 py-5 font-semibold border-b border-gray-100">
                            <span>Projects and credits attained</span>
                            <button type="button" class="inline-flex justify-center rounded-md px-1 -mr-1 bg-white text-xs leading-5 font-medium text-gray-500 hover:text-gray-600" id="options-menu" aria-haspopup="true" aria-expanded="true">
                                last to first
                                <svg class="-mr-1 ml-1 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                </svg>
                            </button>
                            <!-- Refer here for full dropdown menu code: https://tailwindui.com/components/application-ui/elements/dropdowns -->
                        </div>
                        <div class="overflow-y-auto" style="max-height: 24rem;">
                            <ul class="p-6 space-y-6">
                                {% for x in project_list %}
                                    <li class="flex items-center">
                                       
                                        <div class="h-10 w-10 mr-3 bg-gray-100 rounded-full overflow-hidden">
                                            <img src="{% static 'daksha/assets/project.png' %}" alt="project picture" />
                                        </div>
                                        <a href="{{x.title}}/view">
                                            <span class="text-gray-600">{{x.title}}</span>

                                       </a>    
                                       <a href="{{x.title}}/view">
                                            <span class="text-gray-600">+{{x.credits}}</span>

                                       </a>  

                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="flex items-center justify-between px-6 py-5 font-semibold border-b border-gray-100">
                            <span>Recommended projects</span>
                            <button type="button" class="inline-flex justify-center rounded-md px-1 -mr-1 bg-white text-xs leading-5 font-medium text-gray-500 hover:text-gray-600" id="options-menu" aria-haspopup="true" aria-expanded="true">
                                Credits
                            </button> 
                           
                        </div>
                        <div class="overflow-y-auto" style="max-height: 24rem;">
                            <ul class="p-6 space-y-6">
                                <li class="flex items-center">
                                    <div class="h-10 w-10 mr-3 bg-gray-100 rounded-full overflow-hidden">
                                        <img src="{% static 'daksha/assets/project.png' %}" alt="Annette Watson profile picture" />
                                    </div>
                                    <span class="text-gray-600">Recommendar System</span>
                                    <span class="ml-auto font-semibold">50</span>
                                </li>
                                <li class="flex items-center">
                                    <div class="h-10 w-10 mr-3 bg-gray-100 rounded-full overflow-hidden">
                                        <img src="{% static 'daksha/assets/project.png' %}" alt="Calvin Steward profile picture" />
                                    </div>
                                    <span class="text-gray-600">Deep Fake Detection</span>
                                    <span class="ml-auto font-semibold">100</span>
                                </li>
                                
                                
                                
                            </ul>
                        </div>
                    </div>
                    <div class="flex flex-col row-span-3 bg-white shadow rounded-lg">
                        <div class="px-6 py-5 font-semibold border-b border-gray-100">Portfolio</div>
                        <div class="p-4 flex-grow">
                            <div class="flex items-center justify-center h-full px-4 py-24 text-gray-400 text-3xl font-semibold bg-gray-100 border-2 border-gray-200 border-dashed rounded-md"><canvas id="myChart2"></canvas></div>
                        </div>
                    </div>
                </section>
                <section class="text-right font-semibold text-gray-500">
                    <p>&copy;Daksha IITD'23</p>
                </section>
            </main>
        </div>
        <script >
                            // Mobile menu button
            const mobileMenuButton = document.querySelector(".mobile-menu-button");

// Mobile menu content
const mobileMenuContent = document.querySelector(".mobile-menu");

// Toggle mobile menu
mobileMenuButton.addEventListener("click", () => {
    mobileMenuContent.classList.toggle("active");
});

// Close mobile menu when a menu item is clicked
const mobileMenuLinks = document.querySelectorAll(".mobile-menu-content a");
mobileMenuLinks.forEach((link) => {
    link.addEventListener("click", () => {
        mobileMenuContent.classList.remove("active");
    });
});

// Close mobile menu when close button is clicked
const closeButton = document.querySelector(".close-button");
closeButton.addEventListener("click", () => {
    mobileMenuContent.classList.remove("active");
});

// Hide mobile menu when clicking outside
document.addEventListener("mouseup", (event) => {
    const targetElement = event.target;
    if (!targetElement.closest(".mobile-menu") && !targetElement.closest(".mobile-menu-button")) {
        mobileMenuContent.classList.remove("active");
    }
});

// console.log("{{credits_list}}");
// console.log("{{time_list|safe}}");
var time_list = new DOMParser().parseFromString("{{time_list}}", "text/html").body.textContent;
var regex = /'([^']+)'/g;
var matches = time_list.match(regex);
var parsed_time_list = matches.map(match => match.slice(1, -1));
console.log(parsed_time_list);
time_list = parsed_time_list;
// var array = JSON.parse(decodedString);
// console.log(array); // Output: ["05July2023", "06July2023"]
// console.log(Array.isArray(array)); // Output: true
// const time_list = JSON.parse("{{time_list}}");

// console.log(time_data)

const data = JSON.parse("{{credits_list}}");

const badges = ["Newbie","Pupil", "Specialist", "Master","Grandmaster"];
const chart = new Chart(document.getElementById("myChart"), {
  type: "line",
  data: {
    labels: time_list,
    datasets: [
      {
        label: "Credits",
        borderColor: "#4F46E5",
        data: data,
        fill: true,
        pointBackgroundColor: "#0056b3",
        borderWidth: "3",
        pointBorderWidth: "4",
        pointHoverRadius: "5",
        pointHoverBorderWidth: "3",
        pointHoverBorderColor: "#0056b3",
      },
    ],
  },
  options: {
    maintainAspectRatio: false,
    // responsive: true,
    plugins: {
      legend: {
        display: false,
      },
      tooltip: {
        callbacks: {
          title: function (context) {
            return "Month: " + context[0].label;
          },
          label: function (context) {
            var index = context.dataIndex;
            var credits = context.dataset.data[index];
            // var badge = badges[index];
            if (credits > 0 && credits <= 300) {
              return "Credits: " + credits + " | Badge: " + badges[0];
            } else {
            //   return "Credits: " + credits + " | Badge: " + badges[0];
                if (credits > 300 && credits <= 600) {
                  return "Credits: " + credits + " | Badge: " + badges[1];

                } else {
                    if (credits > 600 && credits <= 900) {
                        return "Credits: " + credits + " | Badge: " + badges[2];
                    }
                    else{
                        if (credits > 900 && credits <=1200){
                            return "Credits: " + credits + " | Badge: " + badges[3];

                        }
                        else{
                            return "Credits: " + credits + " | Badge: " + badges[4];

                        }
                    }
                }
            }
          },
        },
      },
      annotation: {
        annotations: [
          {
            type: "box",
            drawTime: "beforeDatasetsDraw",
            xScaleID: "x",
            yScaleID: "y",
            xMin: time_list[0], // Set the first date in the time_list as xMin
            xMax: time_list[time_list.length - 1], // Set the last date in the time_list as xMax
            backgroundColor: "RGB(40, 255, 87, 0.4)", // Red background color
            borderWidth: 0,
            yMin: 0,
            yMax: 300, // Specify the range of the y-axis
          },
          {
            type: "box",
            drawTime: "beforeDatasetsDraw",
            xScaleID: "x",
            yScaleID: "y",
            xMin: time_list[0], // Set the first date in the time_list as xMin
            xMax: time_list[time_list.length - 1], // Set the last date in the time_list as xMax
            backgroundColor: "rgba(0, 0, 255, 0.4)", // Red background color
            borderWidth: 0,
            yMin: 300,
            yMax: 600, // Specify the range of the y-axis
          },
          {
            type: "box",
            drawTime: "beforeDatasetsDraw",
            xScaleID: "x",
            yScaleID: "y",
            xMin: time_list[0], // Set the first date in the time_list as xMin
            xMax: time_list[time_list.length - 1], // Set the last date in the time_list as xMax
            backgroundColor: "RGB(200, 0, 200, 0.4)", // Red background color
            borderWidth: 0,
            yMin: 600,
            yMax: 900, // Specify the range of the y-axis
          },
          {
            type: "box",
            drawTime: "beforeDatasetsDraw",
            xScaleID: "x",
            yScaleID: "y",
            xMin: time_list[0], // Set the first date in the time_list as xMin
            xMax: time_list[time_list.length - 1], // Set the last date in the time_list as xMax
            backgroundColor: "rgba(255, 0, 100, 0.4)", // Red background color
            borderWidth: 0,
            yMin: 900,
            yMax: 1200, // Specify the range of the y-axis
          },
          // Rest of the annotations...
        ],
      },
    },
    scales: {
      x: {
        display: true,
        title: {
          display: true,
          text: "Month", // Title for the x-axis
        },
        grid: {
          color: "rgba(0, 0, 0, 0.05)", // Adjust the color of the x-axis grid lines
        },
      },
      y: {
        display: true,
        title: {
          display: true,
          text: "Credits", // Title for the y-axis
        },
        grid: {
          color: "rgba(0, 0, 0, 0.05)", // Adjust the color of the x-axis grid lines
        },
        suggestedMax: 1200, // Adjust the suggested maximum value for the y-axis
      },
    },
  },
});


var ctx = document.getElementById('myChart2').getContext('2d');
console.log("{{App_development_credits}}");
// Define the data for the pie chart
console.log("{{Programming_credits}}");
console.log("{{Business_development_credits}}");
var dat = {
labels: ['Programming', 'App Development ', 'Business Development'],
datasets: [{
data: ["{{Programming_credits}}", "{{App_development_credits}}","{{Business_development_credits}}" ],
backgroundColor: ['#ff6384', '#36a2eb', '#ffce56']
}]
};

// Create the pie chart
var myChart = new Chart(ctx, {
type: 'pie',
data: dat,
options: {
responsive: true,
maintainAspectRatio: false
}
});





        </script>
    </body>
</html>
