{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React to HTML Conversion</title>
    <link href="{% static 'daksha/output.css' %}" rel="stylesheet">
    <style>
      .dropdown-menu {
        display: none;
      }

      .dropdown-menu.active {
        display: block;
      }
      .notification-menu{
        display: none;
      }
      .notification-menu.active{
        display: block;
      }
      .mobile-notification-menu{
        display: none;
      }
      .mobile-notification-menu.active{
        display: block;
      }

    </style>
  </head>
  <body>
    <div class="min-h-full">
      <div class="fixed top-0 left-0 w-full z-50 bg-gray-900">
        <nav class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-between">
              <div class="flex items-center">
                <div class="flex-shrink-0">
                  <img class="h-8 w-auto" src="{% static 'daksha/assets/main_logo.png' %}" alt="Your Company">
                </div>
                <div class="hidden md:block">
                  <div class="ml-10 flex items-baseline space-x-4">
                    <a href="/Dashboard" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Dashboard</a>
                    <a href="/Projects" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Projects</a>
                    <a href="/Hackathons" class="bg-indigo-600 text-white rounded-md px-3 py-2 text-sm font-medium">Hackathons</a>
                  </div>
                </div>
              </div>
              <div class="hidden md:block">
                <div class="ml-4 flex  items-center md:ml-6">
                  <!-- Notification logo -->
                  <div class="relative mr-4">
                    <button class="flex max-w-xs items-center rounded-full bg-gray-800 text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 notification-button">
                      <span class="sr-only">Open user menu</span>
                      <img class="h-8 w-8 rounded-full" src="https://cdn0.iconfinder.com/data/icons/rounded-set-1-5/48/alert-512.png" alt="">
                      <span class="text-sm">New notifications<span class="ml-1"></span></span>

                    </button>
                    
                    <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 notification-menu" id="notification-menu" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                      <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Notification-1 <span id="email-id" style="display: inline-block;">from dakshya@iitd.ac.in</span>
                      </a>
                      <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Notification-2 <span id="email-id" style="display: inline-block;">from dakshya@iitd.ac.in</span></a>

                      
                    </div>
                  </div>

                  <!-- Profile dropdown -->
                  <div class="relative">
                    <button class="flex max-w-xs items-center rounded-full bg-gray-800 text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 profile-button">
                      <span class="sr-only">Open user menu</span>
                      <img class="h-8 w-8 rounded-full" src="https://www.healthepro.com/wp-content/uploads/2021/03/Staffing-Icon-480x480.png" alt="">
                    </button>

                    <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 dropdown-menu" id="dropdownMenu" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                      <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">{{username}}<span id="email-id" style="display: inline-block;">{{email}}</span>
                      </a>
                      <a href="/logout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">
                        <span class="flex items-center"> Sign Out <svg class="ml-0.2 mt-0.5 h-4 w-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                          </svg>
                        </span>
                      </a>
                    </div>
                  </div>

                </div>

              </div>

              <div class="-mr-2 flex md:hidden">
                <!-- Mobile menu button -->
                <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 mobile-menu-button">
                  <span class="sr-only">Open main menu</span>
                  <!-- Heroicon name: menu -->
                  <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                  </svg>
                  <!-- Heroicon name: x -->
                  <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          
          <!-- Mobile menu -->
          <div class="hidden mobile-menu">
            <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
              <a href="/Dashboard" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Dashboard</a>
              <a href="/Projects" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Projects</a>
              <a href="/Hackathons" class="bg-indigo-600 text-white block px-3 py-2 rounded-md text-base font-medium">Hackathons</a>
            </div>
            <div class="pt-4 pb-3 border-t border-gray-700">
              <div class="lg:flex md:flex lg:justify-between md:justify-between sm:flex-col px-5 ">
                <div class="flex items-center px-5"><div class="flex-shrink-0">
                  <img class="h-10 w-10 rounded-full" src="https://www.healthepro.com/wp-content/uploads/2021/03/Staffing-Icon-480x480.png" alt="">
                </div>

                <div class="ml-3">
                  <div class="text-base font-medium leading-none text-white">{{username}}</div>
                  <div class="text-sm font-medium leading-none text-gray-400">{{email}}</div>
                </div></div>
                
                <div class="relative mr-4">
                    <button class="flex max-w-xs items-center rounded-full bg-gray-800 text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 mobile-notification-button">
                      <span class="sr-only">Open user menu</span>
                      <img class="h-8 w-8 rounded-full" src="https://cdn0.iconfinder.com/data/icons/rounded-set-1-5/48/alert-512.png" alt="">
                      <span class="text-sm">New notifications<span class="ml-1"></span></span>

                    </button>
                    
                    <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 mobile-notification-menu" id="mobile-notification-menu" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                      <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Notification-1 <span id="email-id" style="display: inline-block;">from dakshya@iitd.ac.in</span>
                      </a>
                      <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Notification-2 <span id="email-id" style="display: inline-block;">from dakshya@iitd.ac.in</span></a>

                      
                    </div>
                  </div>
              </div>
              
              <div class="mt-3 px-2 space-y-1">
                <a href="/logout" class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700"><span class="flex items-center"> Sign Out <svg class="ml-0.2 mt-0.5 h-4 w-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                          </svg>
                        </span></a>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <section class="pt-10">
        <div class="mx-auto max-w-7xl sm:px-6 lg:px-0">
          <div class="sm:px-0">
            <div class=" text-white">
              <div id="hackathons" name="support" class="relative w-full my-10">
                <div class="w-full h-[700px] bg-gray-900/90 absolute">
                  <img class="w-full -z-10 h-full object-cover mix-blend-overlay" src="{% static 'daksha/assets/nat-10.jpg' %}" alt="/" />
                </div>
                <div class="max-w-[1240px] mx-auto text-white relative">
                  <div class="px-4 py-12">
                    <h2 class="text-2xl pt-8 text-gray-300 uppercase text-center">Hackathons</h2>
                    <div class="lg:w-1/2 mx-auto sm:w-2/3"></div>
                  </div>
                  <div class="flex justify-center items-center">
                    <div class="flex flex-col justify-center items-center">
                      <div class="flex flex-col md:flex-row w-2/3 rounded-lg shadow-lg overflow-hidden justify-center items-center">
                        <!-- images -->
                        <div class="w-full md:w-1/3 mt-8 md:mt-0 order-2 md:order-1 hidden md:block">
                          <img src="{% static 'daksha/assets/Hackathon.png' %}" alt="Card" class="h-full object-cover object-center bg-fixed" />
                        </div>
                        <div class="w-full md:w-2/3 bg-gray-100 p-12 order-1 md:order-2">
                          <div class="p-4">
                            <h2 class="text-xl text-gray-700 font-bold mb-2">Hackathon is Live!</h2>
                            <p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec metus vel mauris eleifend fermentum ac at tellus.</p>
                            <button class="mt-4 bg-indigo-600 hover:bg-indigo-500 hover:text-white text-white font-semibold py-2 px-4 rounded">Download </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      </section>
    </div>
    
    <script src="{% static 'daksha/dashboard.js' %}"> 
    </script>
  </body>
</html>
