{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link href="{% static 'daksha/project.css' %}" rel="stylesheet">


        <style>
            .mobile-menu {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8);
                display: none;
                z-index: 9999;
            }

            .mobile-menu.active {
                display: block;
            }

            .mobile-menu .mobile-menu-content {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 60%;
                background-color: white;
                padding: 20px;
            }

            .mobile-menu a {
                display: block;
                padding: 10px;
                color: #000;
                text-decoration: none;
            }

            .mobile-menu a:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        </style>
    </head>

    <body class="flex bg-gray-100 min-h-screen">
        <div class="flex-grow text-gray-800">
            <header class="flex items-center h-20 px-6 sm:px-10 bg-gray-900 fixed top-0 left-0 w-full z-50">
                <!-- tabs -->

                <!-- tabs -->
                <div class="relative w-full max-w-md sm:-ml-2">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <img class="h-8 w-auto" src="{% static 'daksha/assets/main_logo.png' %}" alt="Your Company" />
                        </div>
                        <div class="hidden md:block">
                            <div class="ml-10 flex items-baseline space-x-4 gap-4">
                                <a href="/Dashboard" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base font-medium">Dashboard</a>
                                <a href="/Projects" class=" bg-indigo-600 text-white block px-3 py-2 rounded-md text-base font-medium">Projects</a>
                                <a href="/Hackathons" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base font-medium">Hackathons</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-shrink-0 items-center ml-auto justify-center">
                    <button class="hidden sm:inline-flex items-center p-2 rounded-lg">
                        <span class="sr-only">User Menu</span>
                        <div class="flex flex-col items-end leading-tight">
                            <span class="font-semibold text-gray-200">{{username}}</span>
                            <span class="text-sm text-gray-200">{{email}}</span>
                        </div>
                        <span class="h-8 w-8 ml-2 sm:ml-3 mr-2 bg-gray-900 rounded-full overflow-hidden">
                            <img src="{% static 'daksha/assets/profile.png' %}" alt="user profile photo" class="h-full w-full object-cover" />
                        </span>
                    </button>

                    <button class="relative p-2 text-gray-400 focus:bg-gray-100 focus:text-gray-600 rounded-full">
                        <span class="sr-only">Open user menu</span>
                        <img class="h-6 inline-block w-6 rounded-full" src="{% static 'daksha/assets/thunder.png' %}" alt="" />
                        <span class="text-sm">0: <span style="color: rgb(144, 201, 87);">Newbie</span><span class="ml-1"></span></span>
                    </button>
                    <button class="relative p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-600 focus:bg-gray-100 focus:text-gray-600 rounded-full">
                        <span class="sr-only">Log out</span>
                        <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                        </svg>
                    </button>
                </div>
                <div class="-mr-2 flex md:hidden">
                    <!-- Mobile menu button -->
                    <button
                        type="button"
                        class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 mobile-menu-button"
                    >
                        <span class="sr-only">Open main menu</span>
                        <!-- Heroicon name: menu -->
                        <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                        <!-- Heroicon name: x -->
                        <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>

                <!-- Mobile menu -->
                <div class="hidden mobile-menu">
                    <div class="mobile-menu-content">
                        <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
                            <button class="inline-flex items-center p-2 rounded-lg">
                                <span class="sr-only">User Menu</span>

                                <span class="h-12 w-12 ml-2 sm:ml-3 mr-2 bg-indigo-600 rounded-full overflow-hidden">
                                    <img src="{% static 'daksha/assets/profile.png' %}" alt="user profile photo" class="h-full w-full object-cover" />
                                </span>
                                <div class="flex flex-col leading-tight">
                                    <span class="font-semibold text-gray-900">{{username}}</span>
                                    <span class="text-sm text-gray-900">{{email}}</span>
                                </div>
                                
                            </button>
                            <a href="/Dashboard" class="  text-gray-500 hover:bg-gray-700 hover:text-gray-900 block px-3 py-2 rounded-md text-base font-medium">Dashboard</a>
                            <a href="/Projects" class=" bg-indigo-600 text-white block px-3 py-2 rounded-md text-base font-medium">Projects</a>
                            <a href="/Hackathons" class="text-gray-500 hover:bg-gray-700 hover:text-gray-900 block px-3 py-2 rounded-md text-base font-medium">Hackathons</a>
                            <button class="close-button relative p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-600 focus:bg-gray-100 focus:text-gray-600 rounded-full">
                                <span class="sr-only">Close menu</span>
                                <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </header>
            <main class="mt-10 p-6 sm:p-10 space-y-6">
                <div class="mx-auto max-w-7xl sm:px-6 px-0">
                    <div class="px-4 sm:px-0">
                        <div id="projects" name="projects" class="w-full mt-30">
                            <div class="max-w-[1240px] mx-auto py-12">
                                
                                <div id="projectContainer" class="grid md:mx-5 md:grid-cols-1 lg:grid-cols-3 gap-8 py-10"></div>
                            </div>

                            <script src="{% static 'daksha/projects.js' %}"></script>
                        </div>
                    </div>
                </div>
                <section class="text-right font-semibold text-gray-500">
                    <p>&copy;Enactus IITD'23</p>
                </section>
            </main>
        </div>
    </body>
</html>

