<!-- paste your test code -->

<!-- <div class="w-full bg-neutral-200 dark:bg-neutral-600">
                                                <div class="relative h-4 bg-neutral-400">
                                                    <div id="newbie" class="absolute top-0 bottom-0 bg-red-400 flex items-center pl-2 pr-1 overflow-hidden">
                                                        <span class="whitespace-nowrap overflow-hidden text-overflow-ellipsis text-xs">Newbie</span>
                                                    </div>
                                                    <div id="pupil" class="absolute top-0 bottom-0 bg-yellow-400 flex items-center pl-2 pr-1 overflow-hidden">
                                                        <span class="whitespace-nowrap overflow-hidden text-overflow-ellipsis text-xs">Pupil</span>
                                                    </div>
                                                    <div id="specialist" class="absolute top-0 bottom-0 bg-green-400 flex items-center pl-2 pr-1 overflow-hidden">
                                                        <span class="whitespace-nowrap overflow-hidden text-overflow-ellipsis text-xs">Specialist</span>
                                                    </div>
                                                    <div id="master" class="absolute top-0 bottom-0 bg-blue-400 flex items-center pl-2 pr-1 overflow-hidden">
                                                        <span class="whitespace-nowrap overflow-hidden text-overflow-ellipsis text-xs">Master</span>
                                                    </div>
                                                </div>
                                            </div> -->