<!-- paste your test code -->

<!-- <div class="w-full bg-neutral-200 dark:bg-neutral-600">
                                                <div class="relative h-4 bg-neutral-400">
                                                    <div id="newbie" class="absolute top-0 bottom-0 bg-red-400 flex items-center pl-2 pr-1 overflow-hidden">
                                                        <span class="whitespace-nowrap overflow-hidden text-overflow-ellipsis text-xs">Newbie</span>
                                                    </div>
                                                    <div id="pupil" class="absolute top-0 bottom-0 bg-yellow-400 flex items-center pl-2 pr-1 overflow-hidden">
                                                        <span class="whitespace-nowrap overflow-hidden text-overflow-ellipsis text-xs">Pupil</span>
                                                    </div>
                                                    <div id="specialist" class="absolute top-0 bottom-0 bg-green-400 flex items-center pl-2 pr-1 overflow-hidden">
                                                        <span class="whitespace-nowrap overflow-hidden text-overflow-ellipsis text-xs">Specialist</span>
                                                    </div>
                                                    <div id="master" class="absolute top-0 bottom-0 bg-blue-400 flex items-center pl-2 pr-1 overflow-hidden">
                                                        <span class="whitespace-nowrap overflow-hidden text-overflow-ellipsis text-xs">Master</span>
                                                    </div>
                                                </div>
                                            </div> -->

                                            <!-- { -->
                                                                                        <!--  -->





                                            <!-- }{% static 'daksha/assets/Hackathon.png' %} 



                                                
{
    <div class="bg-white mb-10 py-10 sm:py-10 md:py-10 lg:py-10">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="mx-auto mt-10 grid max-w-lg gap-x-8 gap-y-10 sm:max-w-xl sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-4 md:grid-cols-2">
                    <div class="flex justify-center items-center">
                        <img
                            class="lg:max-h-15 lg:w-full lg:object-contain md:max-h-10 md:w-full md:object-contain sm:max-h-8 sm:w-full sm:object-contain"
                            src="{% static 'daksha/assets/comp-2.png' %}"
                            alt="Reform"
                            width="158"
                            height="48"
                        />
                    </div>

                    <div class="flex justify-center items-center">
                        <img
                            class="lg:max-h-15 lg:w-full lg:object-contain md:max-h-10 md:w-full md:object-contain sm:max-h-8 sm:w-full sm:object-contain"
                            src="{% static 'daksha/assets/cheque.png' %}"
                            alt="Reform"
                            width="158"
                            height="48"
                        />
                    </div>
                    <div class="flex justify-center items-center">
                        <img
                            class="max-h-12 w-full object-contain "
                            src="{% static 'daksha/assets/comp-3.png' %}"
                            alt="SavvyCal"
                            width="158"
                            height="48"
                        />
                    </div>
                    <div class="flex justify-center items-center">
                        <img
                            class="lg:max-h-15 lg:w-full lg:object-contain md:max-h-10 md:w-full md:object-contain sm:max-h-8 sm:w-full sm:object-contain"
                            src="{% static 'daksha/assets/ibm-logo.webp' %}"
                            alt="Transistor"
                            width="158"
                            height="48"
                        />
                    </div>
                </div>
            </div>
        </div>
}