{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>View Project</title>
  <link rel="stylesheet" href="{% static 'daksha/view.css' %}">
</head>
<body>
  <div class="container">
    <h1>{{project.title}}</h1>
    <img src = "{{project.image.url}}">
    <div class="project-details">
      <p><strong>SKILLS REQUIRED:</strong> {{ project.skills_req }}</p>
      <p><strong>CREDITS: </strong>{{ project.credits }}<br>
         DURATION:{{ project.duration }}</p>
      <p><strong>WHAT YOU’LL LEARN:</strong></p>
      <ul>
        {% for point in project.points.all %}
          <li>{{ point.name }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="project-actions">
      <a href = "{{project.pdf.url}}" ><button id="view-pdf">View PDF</button></a>
      <form action="/{{project.title}}/view" method = "post" enctype="multipart/form-data">
            {% csrf_token %}
          {{forms}}
        <input type="submit">
      </form>
    </div>
    {% if submission %}
    <div class="latest-submission">
      <p>Latest Submission: <a href={{submission}} download>Download ZIP</a></p>
    </div>
    {% endif  %}
  </div>
</body>
</html>
